<div id="styled-select" ng-click="dropDownCtrl.toggleDropDown()" ng-class="{ selected:dropDownCtrl.open }">
	<a id="option-selected">
		<span>{{ eventContent.selectedYear }}</span>
	</a>
</div>
<div id="drop-down-content" ng-show="dropDownCtrl.open">
	<div id="options-container">
		<a class="option" ng-class="{ active:eventContent.isActiveYear(option) }"ng-repeat="option in eventContent.sendYears()" ng-click="eventContent.setActiveYear(option)">
			<span> {{ option }} </span>
		</a>
	</div>
</div>
