<nav>
	<a class="nav-button" ng-click="item.setTab(1)" ng-class="{ active:item.isSet(1)}">
		<span>{{ item.home }}</span>
	</a>
	<a class="nav-button" ng-click="item.setTab(2)" ng-class="{ active:item.isSet(2)}">
		<span>{{ item.aboutUs }}</span>
	</a>
	<a class="nav-button" ng-click="item.setTab(3)" ng-class="{ active:item.isSet(3)}">
		<span>{{ item.eventSchedule }}</span>
	</a>
	<a class="nav-button" ng-click="item.setTab(4)" ng-class="{ active:item.isSet(4)}">
		<span>{{ item.merchandise }}</span>
	</a>
	<a class="nav-button" ng-click="item.setTab(5)" ng-class="{ active:item.isSet(5)}")>
		<span>{{ item.contactUs }}</span>
	</a>
</nav>